<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>
    <main class="dashboard">
      <div class="sidebar">
        <div class="dropdown">
          <button>+ New</button>
          <div class="dropdown-content">
            <form
              action="/dashboard/upload-file"
              enctype="multipart/form-data"
              method="POST"
            >
              <label for="file-upload">
                <input
                  type="file"
                  class="form-control-file"
                  name="uploadedFile"
                  id="file-upload"
                />
              </label>
              <button>Submit</button>
            </form>
            <a href="">Upload folder</a>
          </div>
        </div>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
