<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>
    <main class="dashboard">
      <div class="sidebar">
        <div class="dropdown">
          <button>+ New</button>
          <div class="dropdown-content">
            <form
              action="/dashboard/upload-file"
              enctype="multipart/form-data"
              method="POST"
            >
              <label for="file-upload">
                <input
                  type="file"
                  class="form-control-file"
                  name="uploadedFile"
                  id="file-upload"
                />
              </label>
              <button>Submit</button>
            </form>
            <button
              onclick="
                document.getElementById('create-folder-dialog').showModal()
              "
            >
              New Folder
            </button>
          </div>
        </div>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <dialog id="create-folder-dialog">
      <h2>Create a New Folder</h2>
      <form action="/dashboard/create-folder" method="POST">
        <div class="dialog-form-field">
          <label for="newFolder">Folder Name: </label>
          <input type="text" id="newFolder" name="newFolder" />
        </div>
        <div class="action-btn-container">
          <button
            onclick="document.getElementById('create-folder-dialog').close()"
          >
            Cancel
          </button>
          <button
            onclick="document.getElementById('create-folder-dialog').close()"
          >
            Create
          </button>
        </div>
      </form>
    </dialog>
  </body>
</html>
