<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>
  <body>
    <%- include("partials/header") %>
    <main>
      <section>
        <h2>Try out the File Vault!</h2>
        <a href="/auth/login">Log In</a>
        <a href="/auth/signup">Sign Up</a>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
