/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/******************/
/* Project Below */
/****************/

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: "JetBrainsMono";
  src:
    url("./fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Regular.woff") format("woff");
}

/**********************/
/*** Global Styles ***/
/********************/

header,
footer {
  background-color: #0b132b;
  min-width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.auth-container {
  display: flex;
  gap: 1rem;
}

.auth-container a {
  text-decoration: none;
  font-family: "Inter";
  background-color: #00f5d4;
  color: #0b132b;
  padding: 0.6rem;
  border-radius: 0.2rem;
}

.auth-container a:hover {
  background-color: #00d6b9;
}

footer {
  justify-content: center;
  color: #00f5d4;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 100%;
  background-color: #f4f6f8;
}

h1 {
  font-size: 1.5rem;
}

h1 a {
  text-decoration: none;
  color: #00f5d4;
  font-family: "JetBrainsMono";
}

h1 a:hover {
  cursor: pointer;
  color: #00d6b9;
}

h2 {
  font-size: 1.25rem;
  font-family: "JetBrainsMono";
}

/******************************/
/*** Login / Sign Up Forms ***/
/****************************/

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 4rem;
  font-family: "Inter";
}

.auth-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form-actions a,
.form-actions button {
  text-decoration: none;
  font-family: "Inter";
  background-color: #00f5d4;
  color: #0b132b;
  padding: 0.6rem;
  border-radius: 0.2rem;
  flex: 1;
}

.form-actions a:hover,
.form-actions button:hover {
  background-color: #00d6b9;
  cursor: pointer;
}

.form-actions button {
  border: none;
}

/***********************/
/*** Hero Container ***/
/***********************/

#hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#hero-information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10rem;
  gap: 1rem;
  align-items: start;
}

#hero-information h2 {
  font-size: 2rem;
  color: #0b132b;
}

#hero-information h3 {
  font-size: 4rem;
  font-family: "Inter";
  color: #0b132b;
}

#hero-information a {
  padding: 1rem;
}

#hero-img-container {
  padding: 5rem;
  justify-self: center;
  align-self: center;
}

#hero-img-container img {
  border-radius: 0.3rem;
  max-height: 65%;
  max-width: 65%;
  min-height: 65%;
  min-width: 65%;
}

/******************/
/*** Dashboard ***/
/******************/

.dashboard {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
}

.sidebar {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  border-right: 2px solid orange;
}

.sidebar button {
  padding: 1rem;
}

.sidebar button:hover {
  cursor: pointer;
}

#create-folder-dialog,
.folder-dialog {
  background-color: cornflowerblue;
  position: absolute;
  transform: translate(575px, 150px);
  min-height: 20%;
  min-width: 30%;
  padding: 1rem;
}

#create-folder-dialog[open],
.folder-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.action-btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

/*** Dropdown ***/

.dropdown {
  position: relative;
  min-width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content {
  border: 2px solid orange;
}

.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*** Main ***/
.dash-main {
  padding: 1rem;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.folder-and-file-container {
  border: 1px solid #0b132b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.folder-name {
  text-decoration: none;
}

.folder-name h2 {
  font-size: 1.6rem;
  color: #0b132b;
  padding: 0.5rem;
}

.folder-name h2:hover {
  background-color: #00d6b9;
  border-radius: 0.5rem;
}

.action-button-container {
  min-width: 75%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.action-button-container button,
.action-button-container form button {
  font-family: "Inter";
  background-color: #00f5d4;
  color: #0b132b;
  padding: 0.25rem;
  border-radius: 0.2rem;
  border: none;
  flex: 1;
}

.action-button-container button:hover,
.action-button-container form:hover {
  background-color: #00d6b9;
  cursor: pointer;
}

.action-button-container form {
  display: flex;
  flex: 1;
  border-radius: 0.2rem;
}

/*********************/
/*** File Details ***/
/*******************/

#file-details-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#file-details-main {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  padding: 1rem;
  gap: 1rem;
}

.file-details-div {
  display: flex;
  justify-content: space-between;
}
